# Executable
wallbreaker

# Code::Blocks non-mandatory files
wallbreaker.layout
wallbreaker.depend

# Vim
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
