# Executable
bin/wallbreaker

# Screenshots
bin/screenshots/*

# Settings file
bin/settings.ini

# Code::Blocks non-mandatory files
wallbreaker.layout
wallbreaker.depend

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
